<div class="bookmark-modal">
  <div class="bookmark-header">
    <h2>Bookmarks for video</h2>
    <app-input
      [(input)]="bookmarkSearchString"
      [showSearchIcon]="true"></app-input>
  </div>
  <div class="bookmark-content">
    <p class="list-header">Relevant Bookmarks</p>
    <div class="bookmark-list" style="height: fit-content; overflow-y: visible;">
      <div class="bookmark-item" *ngFor="let b of relevantBookmarks">
        <div class="bookmark-item-info">
          <span class="bookmark-desc">{{b.Description}}</span>
          <span class="bookmark-timestamp">{{b.Timestamp}}</span>
        </div>
        <div class="bookmark-item-actions">
          <div class="button">
            <fa-icon [icon]="faCompressArrowsAlt"></fa-icon>
          </div>

          <div class="button button-red">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
        </div>
      </div>
    </div>

    <p class="list-header" style="margin-top: 10px">All Bookmarks</p>
    <div class="bookmark-list custom-scrollbar">
      <div class="bookmark-item" *ngFor="let b of bookmarks">
        <div class="bookmark-item-info">
          <span class="bookmark-desc">{{b.Description}}</span>
          <span class="bookmark-timestamp">{{b.Timestamp}}</span>
        </div>
        <div class="bookmark-item-actions">
          <div class="button">
            <fa-icon [icon]="faCompressArrowsAlt"></fa-icon>
          </div>

          <div class="button button-red">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
