<div class="bookmark-modal">
  <div class="bookmark-header">
    <h2>{{'COMPONENTS.BOOKMARKS.BOOKMARK_TITLE_VIDEO' | translate}}</h2>
    <app-input
      [(input)]="bookmarkSearchString"
      [showSearchIcon]="true"></app-input>
  </div>

  <div class="bookmark-content">
    <div class="bookmark-scroller custom-scrollbar">
    <p class="list-header">{{'COMPONENTS.BOOKMARKS.RELEVANT_BOOKMARKS' | translate}}</p>
<!--    <div class="bookmark-list">-->
      <div class="bookmark-item" *ngFor="let b of relevantBookmarks">
        <div class="bookmark-item-info">
          <span class="bookmark-desc">{{b.Description}}</span>
          <span class="bookmark-timestamp">{{b.Timestamp}}</span>
        </div>
        <div class="bookmark-item-actions">
          <div class="button">
            <fa-icon [icon]="faCompressArrowsAlt"></fa-icon>
          </div>

          <div class="button button-red">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
        </div>
      </div>
<!--    </div>-->

    <p class="list-header" style="margin-top: 15px">{{'COMPONENTS.BOOKMARKS.ALL_BOOKMARKS' | translate}}</p>
<!--    <div class="bookmark-list">-->
      <div class="bookmark-item" *ngFor="let b of bookmarks">
        <div class="bookmark-item-info">
          <span class="bookmark-desc">{{b.Description}}</span>
          <span class="bookmark-timestamp">{{b.Timestamp}}</span>
        </div>
        <div class="bookmark-item-actions">
          <div class="button">
            <fa-icon [icon]="faCompressArrowsAlt"></fa-icon>
          </div>

          <div class="button button-red">
            <fa-icon [icon]="faTrash"></fa-icon>
          </div>
        </div>
      </div>
<!--    </div>-->
  </div>
  </div>
</div>
