@import "src/app/shared/scss/settings";

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -webkit-app-region: drag;

  padding: 0 10px;
  background-color: $disc-grey-dark;
  color: #A8A8A8;
  height: 28px;

  .icon-container {
    -webkit-app-region: no-drag;
    fa-icon {
      margin-left: 10px;
    }
  }
}
