@import "src/app/shared/scss/settings";

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: calc(100vh - 28px);
  padding-right: 5px;

  .video-container {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    display: block;
    box-sizing: border-box;

    .video-player {
      max-height: 80%;
    }
  }


}
