<div class="video-container custom-scrollbar custom-scrollbar-padding">
  <app-video-player *ngIf="fileType"
    [options]="getOptions()"
    class="video-player"
    (onInitialLoad)="onVideoInitialLoad($event)"
  ></app-video-player>
  <div class="bar-container">
    <div class="bar">
      <div class="button button-icon-left" (click)="onBack()">
        <fa-icon [icon]="faChevronLeft"></fa-icon> {{'COMPONENTS.BUTTON_DEFAULTS.GO_BACK' | translate}}
      </div>
      <div class="bar-right">
        <div class="button button-icon-left" (click)="onBack()">
          <fa-icon [icon]="faEye"></fa-icon> Mark as watched
        </div>
        <div class="button button-icon-left" (click)="onBack()">
          <fa-icon [icon]="faBookmark"></fa-icon> Create Bookmark
        </div>
      </div>
    </div>
  </div>
</div>
