@import "src/app/shared/scss/settings";

:host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: calc(100vh - 28px);
  padding-right: 5px;

  .video-container {
    width: 100%;
    padding: 10px;
    overflow-y: auto;
    display: block;
    box-sizing: border-box;

    .video-player {
      max-height: 80%;
    }
  }


}

:host ::ng-deep .video-player {
  position: relative;
  max-height: calc(100vh - 100px);
  height: calc(100vh - 100px);
}

:host ::ng-deep .video-player .video-js {
  position: relative;
  max-height: calc(100vh - 100px);
  height: calc(100vh - 100px);
  padding-top: 0;
}

:host ::ng-deep .video-player .video-js video {
  position: relative;
}

:host ::ng-deep .video-player .video-js .vjs-poster {
  position: relative;
}

:host ::ng-deep .video-player .video-js .vjs-text-track-display {
  position: relative;
}

:host ::ng-deep .video-player .video-js .vjs-loading-spinner {
  position: relative;
}

:host ::ng-deep .video-player .video-js .vjs-big-play-button {
  position: relative;
}

:host ::ng-deep .video-player .video-js .vjs-control-bar {
  position: relative;
  bottom: 3em;
}

:host ::ng-deep .video-player .video-js .vjs-error-display {
  position: relative;
}

:host ::ng-deep .video-player .video-js .vjs-modal-dialog {
  position: relative;
}
