// Colors
$disc-grey-dark: #202225;
$disc-grey-medium: #2f3136;
$disc-grey-light: #36393f;


$dark-grey: #333333;
$darker-grey: #666666;
$grey: #888888;
$light-grey: #dedede;
$input-grey: #f7f7f9;
$blue: #1c88bf;
$green: #46c85e;
$dark-blue: #364051;
$off-white: #f7f7f7;
$pastel-red: #e06363;

$vibrant-blue: rgb(0, 202, 253);

$background-color: #0e0e10;
$background-dark-grey: #18181b;

// Font-sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$lm-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$avatar-size: 10rem;
$desktop-breakpoint-xs: 25rem;
$desktop-breakpoint-s: 45rem;
$desktop-breakpoint-m: 60rem;
$desktop-breakpoint-l: 90rem;
