<div class="container">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="search-container">
        <app-search-bar (searchChangedEvent)="sidebarSearchChanged($event)"></app-search-bar>
      </div>
      <div class="button" (click)="onCreateCategory()">
        Add new Category
      </div>
    </div>
    <div class="side-bar-content custom-scrollbar">
      <div class="side-bar-item" *ngFor="let category of categories">
        <fa-icon [icon]="faFolder"></fa-icon>
        <p>{{category.Name}}</p>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="content-header">
      <div class="header-container">
        <div class="button">
          <fa-icon [icon]="faArrowUp"></fa-icon>
        </div>
        <span>Lectures / Semester 5 / Algorithms</span>
      </div>
      <div class="header-container">
        <div class="button">
          Open in Explorer
        </div>
        <app-search-bar (searchChangedEvent)="contentSearchChanged($event)" [enableSmall]="true">
        </app-search-bar>
      </div>
    </div>
    <div class="content-container">

    </div>
  </div>
</div>

<div style="display: none">
  <div #createCategoryModal>
    <h1>test modal</h1>
    <p>see if this works</p>
  </div>
</div>
