<div class="container">
  <div class="side-bar">
    <div class="side-bar-header">
      <div class="search-container">
        <app-input [(input)]="sidebarSearchString" [showSearchIcon]="true"></app-input>
      </div>
      <div class="button" (click)="onCreateCategory()">
        Add new Category
      </div>
    </div>
    <div class="side-bar-content custom-scrollbar">
      <div class="side-bar-item" *ngFor="let category of getFilteredCategoryList()" (click)="onCategoryClick(category)" [ngClass]="{'highlighted-item': this.isSelectedCategory(category)}">
        <fa-icon [icon]="faFolder" *ngIf="!this.isSelectedCategory(category)"></fa-icon>
        <fa-icon [icon]="faFolderOpen" *ngIf="this.isSelectedCategory(category)"></fa-icon>
        <p>{{category.Name}}</p>
        <div class="button button-red" (click)="removeCategory(category)"><fa-icon [icon]="faTrash"></fa-icon></div>
      </div>
    </div>
  </div>

  <app-explorer
    class="container"
    [categoryDirPath]="this.selectedCategory?.DirPath"
  ></app-explorer>

</div>
